django>=6.0b1,<6.1
django-allauth[mfa,socialaccount]
django-constance
django-sekizai
django-service-urls
django-tasks
gunicorn
lxml
pillow
python-readenv
rich
whitenoise[brotli]
{% if use_postgresql %}psycopg[binary,pool]{% endif %}
{%- if project_type == "django-cms" %}
django-cms
django-filer
django-polymorphic
django-select2
djangocms-column
djangocms-file
djangocms-googlemap
djangocms-link
djangocms-picture
djangocms-style
djangocms-text-ckeditor
djangocms-video
{%- endif %}
{% if use_cookielaw %}
django-fluo-legal
{% endif %}
{% if use_widget_tweaks or project_type == "django-cms" %}django-widget-tweaks{% endif %}
{% if use_djangorestframework %}djangorestframework{% endif %}
{% if use_sorl_thumbnail %}sorl-thumbnail{% endif %}
