from django.urls import path

from {{ project_slug }}.core import views

# This allows the error pages to be debugged during development, just visit
# these url in browser to see how these error pages look like.
urlpatterns = [
    path("400", views.bad_request, kwargs={"exception": Exception("Bad Request!")}),
    path("403", views.permission_denied, kwargs={"exception": Exception("Permission Denied")}),
    path("404", views.page_not_found, kwargs={"exception": Exception("Page not Found")}),
    path("500", views.server_error),
]
