"""
This file initialize all sensitive config values
which must not be shared with outside world
ie: tokens, passwords, hash keys, ecc

every config key exported from this file will populate the
custom exception filter to hide them in the debug email/template
"""

import readenv{% if use_postgresql %}

# from ._paths import rel{% else %}

from ._paths import rel{% endif %}

SECRET_KEY = readenv.str("SECRET_KEY")
SENTRY_DSN = readenv.str("SENTRY_DSN", "")

DATABASES = {
    "default": readenv.str(
        "DATABASE_URL",{% if use_postgresql %}
        "postgresql://{user}:{password}@db:5432/{{ db_name }}",
        # f"sqlite://{rel('{{ db_name }}.db')}",{% else %}
        f"sqlite://{rel('{{ db_name }}.db')}",{% endif %}
    ),
}

# keep always export_settings, secret_hidden_settings and __all__ as last items
# (DATABASE_* are not exported as setting values)
# secret_hidden_settings is merged into HIDDEN_SETTINGS and used by
# {{ project_slug }}.core.views.debug.ExceptionReporterFilter
export_settings = [key for key in locals() if key.isupper()]
secret_hidden_settings = export_settings + [f"DATABASE_{key}" for key in ["NAME", "USER", "PASSWORD", "HOST", "PORT"]]
__all__ = export_settings + ["secret_hidden_settings"]
